@import "../../../../node_modules/include-media/dist/_include-media.scss";

.aboutContainer{
    background-color: #8899AA;
}
.about{
    width: 40%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 26px;
    height: 100%;
    padding: 80px 0;
    margin-top: -1px;
    @include media('<desktop') {
        width:90%;
    }
    @include media('>phone', "<=tablet") {
        font-size: 20px;
        line-height: 25px;
        padding: 0 0 80px;
    }

}
.headshot{
    height: 120px;
    width: auto;
    border: 3px solid #222222;
}
.aboutDescription{
    display: flex;
    margin-bottom: 10px;
}
.description{
    margin-left: 30px;
    @include media(">phone", "<=tablet") {
        font-size:25px;
        line-height: 30px;
        margin-left: 70px;
    }
}
.aboutStop{
    display: block;
    position: relative;
    top: -138px;
    visibility: hidden;
}
.logos{
    height: 80px;
    width: auto;
    margin: 30px 40px;
}
.logoList{
    display: flex;
    flex-flow: wrap;
    text-align: center;
    justify-content: space-around;
    @include media("<desktop") {
        width:90%;
        padding-left: 20px;
    }
}
.logoDescription{
    margin-top: -30px;
}
.firstLetter{
    font-size: 40px;
    font-weight: bold;
}
.tinyTiyLogo{
    height:50px;
    width: auto;
    margin-left: 15px;
}
.tiyTitle{
    display: flex;
}
.goals{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
}
.goalsSection{
    padding-top: 20px;
    width: 40%;
    margin: 0 auto;
    font-size: 18px;
    line-height: 26px;
    height: 100%;
    @include media(">phone", "<=tablet") {
        width: 95%;
        font-size: 20px;
        line-height: 25px;
    }
    @include media('<desktop') {
        width:90%;
    }
}
.goalsContainer{
    background-color: #FFFDF7;
}
.tiyName{
    margin-top:20px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
}
.personal{
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
}
.mySkills{
    margin-top:50px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.65);
}
.skillsContainer{
    background-color: #FFFDF7;
}
.Personal{
    margin-bottom: 50px;
}
.education{
    margin-top: 0px;
}

.resume{
    text-align: center;
    border: 2px solid #222222;
    border-radius: 25px;
    width:200px;
    height:35px;
    margin: 10px auto;
    padding-top:13px;
    box-shadow: 3px 3px 5px #192B34;
    text-decoration: none;
    margin-bottom: 20px;
    color: black;
}
.bull{
    padding: 0px 15px;
    font-size: 16px;
}

.dataPage{
    margin-top:-1px;
}
.skillsIcons{
    width: 700px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 26px;
    height: 100%;
    padding: 40px 0;
    @include media('<desktop') {
        width:90%;
    }
}

.dataTitleContainer{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: #8899AA;
    padding-bottom: 40px;
    @include media(">phone", "<=tablet") {
        padding-bottom: 0px;
        height: 240px;
    }
}
.dataTitle{
    color: rgba(0, 0, 0, 0.75);
    font-size: 4vw;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 5px;

}
