.aboutContainer{
    background-color: #8899AA;
}
.about{
    width: 700px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 26px;
    height: 100%;
}
.headshot{
    height: 120px;
    width: auto;
    border: 3px solid #222222;
}
.aboutDescription{
    display: flex;
    margin-bottom: 10px;
}
.description{
    margin-left: 30px;
}
.aboutStop{
    display: block;
    position: relative;
    top: -119px;
    visibility: hidden;
}
.logos{
    height: 80px;
    width: auto;
    margin: 30px 40px;

}
.logoList{
    display: flex;
    flex-flow: wrap;
    text-align: center;
}
.logoDescription{
    margin-top: -30px;
}
.firstLetter{
    font-size: 40px;
    font-weight: bold;
}
.tinyTiyLogo{
    height:50px;
    width: auto;
    margin-left: 15px;
}
.tiyTitle{
    display: flex;
}
.goals{
    margin-top:80px;
}
.tiyName{
    margin-top:20px;
}
.mySkills{
    margin-top:50px;
}
.Personal{
    margin-bottom: 50px;
}
.education{
    margin-top: 0px;
}

.resume{
    text-align: center;
    border: 2px solid #222222;
    border-radius: 25px;
    width:200px;
    height:35px;
    margin: 10px auto;
    padding-top:13px;
    box-shadow: 3px 3px 5px #192B34;
    text-decoration: none;
    margin-bottom: 20px;
    color: black;
}
