.dataContainer {
    width: 100%;
}
.chrisImage{
    z-index: -10;
    position: absolute;
    width: 100%;
    height: auto;
}

.dataTitle{
    font-size: 75px;
    text-align: center;
    padding-top: 40px;
    margin-bottom: 5px;
}
.dataTitleContainer{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: #8899AA;
    padding-bottom: 40px;
}
.greeting {
    position: absolute;
    width: 100%;
}
.greetingContainer {
    position: relative;
    top: 400px;
    text-align: center;
    width:100%;
}
.dataGreeting{
    color: #FFFDF7;
    font-size: 40px;
}
.skills{
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
}
.bull{
    padding: 0px 15px;
    font-size: 16px;
}

.dataPage{
    margin-top:-1px;
}
h3 {
    font-weight: normal;
}
