@import "../../../../node_modules/include-media/dist/_include-media.scss";

.portfolioContainer{
    background-color: #B9C3CE;
    width: 100%;
    height: 100%;
}
.portfolioSection{
    min-height: 400px;
    margin: 0 auto;
}
.portfolioStop{
    display: block;
    position: relative;
    top: -139px;
    visibility: hidden;
}
.portfolioTitle{
    color: rgba(0, 0, 0, 0.75);
    font-size: 4vw;
    padding: 80px 0 60px 0;
    text-align: center;
    @include media("<=tablet") {
        font-size: 35px;
        }
}
.cardImage{
    height: 300px;
    width: 550px;
    box-shadow: 3px 3px 5px #192B34;
    border: 1px solid #222222;
    @include media("<=tablet") {
        height: 164px;
        width: 300px;
        }
}

.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin-bottom: 50px;
    position:relative;
}

.overlay {
    color:#fff;
    position:absolute;
    right: 0; bottom: 5px;
    top:0; left:0;
    opacity: 0;
    background:rgba(0,0,0,0.7);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    text-decoration: none;
}
.card:hover > .overlay {
    opacity:1;
}
.cardText{
    padding: 75px 30px 0 40px;
}
.tiyLogo{
    height: 60px;
    width: auto;
}
.cardInfo{
    display: flex;
}
