@import "../../../../node_modules/include-media/dist/_include-media.scss";

.testimonialStop{
    display: block;
    position: relative;
    top: -139px;
    visibility: hidden;
}
.testimonialTitle{
    color: rgba(0, 0, 0, 0.75);
    font-size: 4vw;
    padding: 80px 0 60px 0;
    text-align: center;
}
.testimonialContainer{
    background-color: #E5E9EC;
    width: 100%;
    height: 100%;
}
.testimonialArea{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 700px;
}
.testimonialName{
    font-size: 30px;
}
.testimonialGroup{
    width: 600px;
    height: 215px;
    background-color: #FFFDF7;
    margin-bottom: 40px;
    padding: 60px;
    box-shadow: 3px 3px 5px #192B34;
    @include media('>phone', "<=tablet") {
        width: 700px;
        height: 315px;
        margin-left: -8%;
    }
}
blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 500px;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    @include media('<desktop') {
        font-size: 17px;
        width: 550px
    }
    @include media(">phone", "<=tablet") {
        font-size:23px;
        width: 575px;
    }
}
blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
    @include media('<desktop') {
        left: 0px;
        top: 0px;
    }
}
blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}
.testimonialContact{
    color: #999999;
    margin-left: 40px;
    margin-top: -5px;
    font-size: 14px;
}
.testimonialCard{
    display: flex;
    flex-direction: column;
    float:right;
}
